<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>不具合管理システム</h1>
  <p>このアプリケーションでは、登録されたユーザーにより不具合連絡書の</br>閲覧・登録・編集することができます。</p>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>